{% extends 'base.html.twig' %}

{% block title %}Le Bon Cube{% endblock %}

{% block body %}
<div class="list">
    {% for i in 1..5 %}
        {% include 'partials/miniature.html.twig' with { item } %}    
    {% endfor %}
</div>
{% endblock %}
